// ======================================================================
// /r/solarizedtheme CSS - Based on http://ethanschoonover.com/solarized
// ======================================================================

$bg:           #fdf6e3; // base3
$bg-highlight: #eee8d5; // base2
$secondary:    #93a1a1; // base1
$primary:      #657b83; // base00
$emphasized:   #586e75; // base01

$nm-bg:           #002b36; // base03
$nm-bg-highlight: #073642; // base02
$nm-secondary:    #586e75; // base01
$nm-primary:      #839496; // base0
$nm-emphasized:   #93a1a1; // base1

$yellow:  #b58900; // reddit gold colour
$orange:  #cb4b16; // orangered (upvotes, friends)
$red:     #dc322f; // admin red, unsubscribe buttons
$magenta: #d33682; // currently selected item, active items, selected tab
$violet:  #6c71c4; // periwinkle, visited posts
$blue:    #268bd2; // blue links, OP colour
$cyan:    #2aa198; // subreddit name, last clicked link
$green:   #859900; // stickied posts, moderator colour, subscribe buttons


// BACKGROUND

#header-bottom-right,
#userbarToggle,
body,
.content,
.side,
.tabmenu li a,
.tabmenu li.selected a,
.comments-page .comment,
.RESDialogSmall.livePreview > h3 {
	background-color: $bg !important;

	.res-nightmode & {
		background-color: $nm-bg !important;
	}
}

// BACKGROUND HIGHLIGHTS

#header,
#siteTable .usertext-body .md,
textarea,
input,
.infobar,
.morelink,
.linkinfo,
.side .sidebox,
.titlebox,
.leavemoderator,
.titlebox form.toggle,
.sidecontentbox .content,
.footer,
.icon-menu a,
.wiki-page-content pre,
.usertext-edit .RESDialogSmall.livePreview .md.RESDialogContents {
	border: none;
	background: $bg-highlight !important;

	.res-nightmode & {
		border: none !important;
		background: $nm-bg-highlight !important;
	}
}

// PRIMARY CONTENT

body,
textarea,
input,
.side {
	color: $primary;

	.res-nightmode & {
		color: $nm-primary !important;
	}
}

.res-nightmode .side {
	.usertext-body ol,
	.redditname a,
	.usertext-body .md blockquote p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $nm-primary !important;
	}
}

// SECONDARY CONTENT

.tagline,
.linkinfo .date,
.linkinfo .shortlink,
.domain a,
.leavemoderator,
.titlebox form.toggle,
.titlebox .bottom,
.gadget small,
.bottommenu,
.commentingAs,
.debuginfo {
	color: $secondary !important;

	.res-nightmode & {
		color: $nm-secondary !important;
	}
}

// EMPHASIZED CONTENT

.tagline a.author,
.entry .buttons li a,
.commentarea .menuarea .toggle a,
.sidecontentbox .title h1,
.flat-vert.title,
.linkinfo .score *,
.RESDialogSmall > h3 {
	color: $emphasized;

	.res-nightmode & {
		color: $nm-emphasized;
	}
}

// VOTE ARROWS

.midcol div.arrow.down,
.midcol div.arrow.down:hover {
	// secondary content
	background: url(%%spritesheet%%) bottom right !important;
}

.midcol div.arrow.up,
.midcol div.arrow.up:hover {
	// secondary content
	background: url(%%spritesheet%%) bottom left !important;
}

.midcol div.arrow.downmod {
	// violet
	background-image: url(%%spritesheet%%) !important;
	background-position: top right;
}

.midcol div.arrow.upmod {
	// orange
	background-image: url(%%spritesheet%%) !important;
	background-position: top left;
}


// YELLOW

.buygold,
a.give-gold {
	color: $yellow;
}

// ORANGE

.link .score.likes,
.tagline .friend,
.linkinfo .upvotes {
	color: $orange;
}

div.thing p.tagline .author.friend {
	background-color: $orange !important;
}

// RED

.tagline .admin {
	color: $red;
}

div.thing p.tagline a.author.admin,
.fancy-toggle-button .remove,
.RESshortcutside.remove,
.RESDashboardToggle.remove {
	background: $red !important;
}

// MAGENTA

.thing div.entry.RES-keyNav-activeElement {
	border-right: 10px solid $magenta !important;
	outline: none !important;
	box-shadow: 0 0 5px 0 $magenta, 0 0 5px 0 $magenta !important;
}

.tabmenu li.selected a,
.morelink:hover a,
a:hover,
.tagline a:hover {
	color: $magenta !important;
}

// VIOLET

.link .score.dislikes,
.linkinfo .downvotes,
.thing .title:visited,
.thing.visited .title {
	color: $violet;
}

// BLUE

a,
.tagline a,
.tagline .submitter,
.thing .title,
.morelink a {
	color: $blue;
}

div.thing .tagline .author.submitter {
	background: $blue !important;
}

// CYAN

.titlebox h1 a,
.pagename a {
	color: $cyan;
	font-size: 30px;
}

.link.last-clicked {
	border: none;
	overflow: initial;

	.entry {
		border-right: 5px solid $cyan;
		box-shadow: 0 0 5px 0 $cyan;
	}
}

// GREEN

.tagline .moderator,
.thing.stickied.link a.title,
.tagline .stickied-tagline,
.bottommenu .updated {
	color: $green;
}

div.thing p.tagline .author.moderator,
.fancy-toggle-button .add,
.RESshortcutside,
.RESDashboardToggle {
	background: $green !important;
}

.thing.stickied > .entry {
	border-right: 5px solid $green;
	box-shadow: 0 0 5px 0 $green;
}

// STYLESHEET CODE COLOURS

pre {
	&.subreddit-stylesheet-source,
	.value {
		color: $primary !important;

		.res-nightmode & {
			color: $nm-primary !important;
		}
	}

	.comment {
		color: $secondary !important;

		.res-nightmode & {
			color: $nm-secondary !important;
		}
	}

	.class {
		color: $emphasized !important;

		.res-nightmode & {
			color: $nm-emphasized !important;
		}
	}

	.tag {
		color: $violet !important;
	}

	.attribute {
		color: $green !important;
	}

	.hexcolor,
	.number {
		color: $cyan !important;
	}

	.id {
		color: $red !important;
	}

	.string {
		color: $orange !important;
	}
}

// HEADER

#header {
	border-bottom: 1px solid $emphasized;

	.res-nightmode & {
		border-bottom-color: $nm-emphasized;
	}
}

.tabmenu li.selected a {
	padding-bottom: 1px;
	border-bottom: none;
	border-color: $emphasized;

	.res-nightmode & {
		border: none;
	}
}

#header-bottom-right,
#userbarToggle {
	border: none !important;
}

// SIDEBAR SPACING

.titlebox {
	padding: 5px;
}

.gadget .entry {
	margin: 0;
}

// LIVE PREVIEW

.RESDialogSmall.livePreview {
	border: none;

	& > h3 {
		height: auto;
		margin: 0;
		padding: 0;
		border: none;
		font-size: 13px;
		text-transform: uppercase;
	}

	.usertext-edit & .md.RESDialogContents {
		padding-top: 20px;
	}
}

// SQUARE BORDERS

* {
	border-radius: 0 !important;
}

// HIDING ELEMENTS

#header-img,
.thumbnail.self,
.thumbnail.default,
.nub,
.sidebox.create .spacer,
.gadget .midcol,
.collapse-button {
	display: none !important;
}

// INLINE SUBSCRIBERS

.subscribers .word,
.users-online .word {
	display: none;
}

.subscribers .number::after {
	content: ' subscribers';
}

.users-online {
	display: inline;

	.number::before {
		content: ' (';
	}

	.number::after {
		content: ' online)';
	}
}
